{% extends 'base.html.twig' %}

{% block title %}Add Post{% endblock %}


{% block body %}


<h1>Add Page of MicroPost Website</h1>
        


{% include ("micro_post/_form.html.twig") %}
        

{% endblock %}
